<nav
  th:fragment="navbar"
  class="bg-white border-gray-200 dark:bg-gray-800 shadow-sm"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- Brand Logo -->
    <a
      th:href="@{/home}"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        th:src="@{'/images/login_logo.png'}"
        class="h-8 shadow-sm"
        alt="SCM Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Online Quiz</span
      >
    </a>
    <!-- Brand Logo Ends -->

    <div
      class="flex gap-1 md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    >
      <!-- Toggle button for dark and light mode -->
      <div class="flex flex-col justify-center ml-3">
        <input
          type="checkbox"
          name="light-switch"
          id="theme_change_button"
          class="light-switch sr-only"
        />
        <label class="relative cursor-pointer p-2" for="theme_change_button">
          <!-- Sun icon (light mode) -->
          <svg
            id="light-icon"
            class="light-icon"
            width="16"
            height="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="fill-slate-100"
              d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z"
            />
            <path
              class="fill-slate-400"
              d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z"
            />
          </svg>

          <!-- Moon icon (dark mode) -->
          <svg
            id="dark-icon"
            class="dark-icon hidden"
            width="16"
            height="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              class="fill-slate-400"
              d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z"
            />
            <path
              class="fill-slate-500"
              d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z"
            />
          </svg>

          <span class="sr-only">Switch to light / dark version</span>
        </label>
      </div>

      <a
        type="button"
        th:href="@{/login}"
        class="text-white bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Login <i class="fa-solid fa-right-to-bracket"></i>
      </a>
      <button
        data-collapse-toggle="navbar-cta"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-cta"
        aria-expanded="false"
      >
        <!-- Icon to Open Menu on Small Screen -->
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>

    <!-- Menu Starts -->
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 dark:bg-gray-800"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-800 dark:border-gray-700"
      >
        <li>
          <a
            th:href="@{/home}"
            th:classappend="${page == 'home'} ? 'text-blue-700 md:dark:text-blue-500' : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent dark:hover:bg-gray-700 md:dark:hover:text-white"
            ><i class="fa-solid fa-house"></i> Home</a
          >
        </li>
        <li>
          <a
            th:href="@{/quiz}"
            th:classappend="${page == 'quiz'} ? 'text-blue-700 md:dark:text-blue-500' : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent dark:hover:bg-gray-700 md:dark:hover:text-white"
            ><i class="fa fa-question-circle" aria-hidden="true"></i> Quiz</a
          >
        </li>
        <li>
          <a
            th:href="@{/about}"
            th:classappend="${page == 'about'} ? 'text-blue-700 md:dark:text-blue-500' : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent dark:hover:bg-gray-700 md:dark:hover:text-white"
            ><i class="fa-solid fa-info-circle"></i> About</a
          >
        </li>
        <li>
          <a
            th:href="@{/contact}"
            th:classappend="${page == 'contact'} ? 'text-blue-700 md:dark:text-blue-500' : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent dark:hover:bg-gray-700 md:dark:hover:text-white"
            ><i class="fa-solid fa-envelope"></i> Contact</a
          >
        </li>
        <li>
          <a
            th:href="@{/leaderboard}"
            th:classappend="${page == 'leaderboard'} ? 'text-blue-700 md:dark:text-blue-500' : 'text-gray-900 dark:text-white'"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent dark:hover:bg-gray-700 md:dark:hover:text-white"
            ><i class="fa-solid fa-ranking-star"></i> Leaderboard</a
          >
        </li>
      </ul>
    </div>
    <!-- Menu Ends -->
  </div>
</nav>
