<!DOCTYPE html>
<html
  lang="en"
  th:fragment="parent(content, title)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Flowbite Css -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Style css -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <!-- Title -->
    <title th:replace="${title}">Online Quiz App</title>
  </head>

  <body class="dark:bg-gray-900 dark:text-white">
    <!-- Header -->
    <header th:replace="~{common/header :: navbar}"></header>
    <!-- Main Content -->
    <div class="p-4 min-h-screen w-full bg-gray-50 dark:bg-gray-900">
      <div th:replace="${content}"></div>
    </div>
    <!-- Footer -->
    <footer class="bg-white shadow dark:bg-gray-800 mb-0">
      <div th:replace="~{common/footer :: footer}"></div>
    </footer>

    <!-- External JS -->
    <script th:src="@{'/js/script.js'}"></script>

    <!-- Flowbite JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
