<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Quiz - Home</title>
  </head>
  <body>
    <div
      id="content"
      class="bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-200"
    >
      <!-- Hero Section -->
      <section
        class="hero-section bg-gray-400 rounded h-48 md:h-64 pt-8 text-white dark:from-gray-700 dark:to-gray-800 py-8 text-center"
      >
        <h1 class="text-4xl md:text-2xl font-bold">Welcome to the Online Quiz App</h1>
        <p class="mt-4 md:mt-2 text-lg md:text-sm">
          Challenge yourself and learn new things with our wide range of
          quizzes!
        </p>
        <a
          href="#"
          class="inline-block bg-gray-700 text-indigo-600 font-semibold py-2 px-6 rounded-lg mt-2 hover:bg-gray-500 dark:bg-gray-600 dark:hover:bg-gray-700 dark:text-gray-100"
        >
          Start a Quiz <i class="fas fa-arrow-right"></i>
        </a>
      </section>

      <!-- Features Section -->
      <section id="feature" class="container mx-auto py-16 mt-6 sm:mt-8">
        <div class="text-center mb-8">
          <h2 class="text-3xl font-bold">Why Choose Us?</h2>
          <p class="text-gray-600 dark:text-gray-400">
            Explore our unique features designed to enhance your learning
            experience.
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div
            class="feature-card bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 text-center"
          >
            <i
              class="fas fa-user-graduate fa-3x text-blue-500 dark:text-blue-400 mb-4"
            ></i>
            <h4 class="text-xl font-semibold mb-2">Wide Range of Topics</h4>
            <p class="text-gray-600 dark:text-gray-400">
              Choose from numerous topics and improve your knowledge across
              various domains.
            </p>
          </div>
          <div
            class="feature-card bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 text-center"
          >
            <i
              class="fas fa-chart-line fa-3x text-green-500 dark:text-green-400 mb-4"
            ></i>
            <h4 class="text-xl font-semibold mb-2">Track Your Progress</h4>
            <p class="text-gray-600 dark:text-gray-400">
              View your performance, track your scores, and strive for
              improvement with every quiz.
            </p>
          </div>
          <div
            class="feature-card bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 text-center"
          >
            <i
              class="fas fa-award fa-3x text-yellow-500 dark:text-yellow-400 mb-4"
            ></i>
            <h4 class="text-xl font-semibold mb-2">Leaderboard</h4>
            <p class="text-gray-600 dark:text-gray-400">
              See how you rank against others. Compete, improve, and aim for the
              top spot!
            </p>
          </div>
        </div>
      </section>

      <!-- Popular Quizzes Section -->
      <section id="quiz" class="container mx-auto py-16 mt-8">
        <div class="text-center mb-8">
          <h2 class="text-3xl font-bold">Popular Quizzes</h2>
          <p class="text-gray-600 dark:text-gray-400">
            Here are some of our most popular quizzes. Start one now!
          </p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
          <div
            class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden"
          >
            <img
              src="/images/java.png"
              class="w-full h-48 object-cover"
              alt="Java Quiz"
            />
            <div class="p-4 text-center">
              <h5 class="text-xl font-semibold mb-2">Java Quiz</h5>
              <a
                href="#"
                class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700"
              >
                Take Quiz
              </a>
            </div>
          </div>
          <div
            class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden"
          >
            <img
              src="/images/react.png"
              class="w-full h-48 object-cover"
              alt="React Quiz"
            />
            <div class="p-4 text-center">
              <h5 class="text-xl font-semibold mb-2">React Quiz</h5>
              <a
                href="#"
                class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700"
              >
                Take Quiz
              </a>
            </div>
          </div>
          <div
            class="card bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden"
          >
            <img
              src="/images/dsa.png"
              class="w-full h-48 object-cover"
              alt="Data Structure Quiz"
            />
            <div class="p-4 text-center">
              <h5 class="text-xl font-semibold mb-2">
                Data Structure & Algorithm Quiz
              </h5>
              <a
                href="#"
                class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700"
              >
                Take Quiz
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- Testimonials Section -->
      <section id="testimonial" class="container mx-auto py-16 mt-8">
        <div class="text-center mb-8">
          <h2 class="text-3xl font-bold">What Our Users Say</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div
            class="testimonial bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6"
          >
            <p class="text-gray-600 dark:text-gray-400">
              "This quiz app has helped me improve my knowledge and stay
              competitive!"
            </p>
            <p
              class="text-right text-gray-800 dark:text-gray-200 font-semibold mt-4"
            >
              - Kumar Prince
            </p>
          </div>
          <div
            class="testimonial bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6"
          >
            <p class="text-gray-600 dark:text-gray-400">
              "Great selection of quizzes! Love the leaderboard feature."
            </p>
            <p
              class="text-right text-gray-800 dark:text-gray-200 font-semibold mt-4"
            >
              - Vineet Dubey
            </p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
